header{
  display: flex;
}

.site-title{
  flex-grow: 1;
  color: #4f6aec;
  font-size: 4rem;
  margin: 0;
}

.menu-wrapper ul{
  display: flex;
}

.menu-wrapper{
  align-self: end;
}


ul li{
  list-style: none;
}

ul li a{
  text-decoration: none;
  padding: 6px;
  font-size: 1.2rem;
  color:#4f6aec;
  /* padding-bottom: 0; */
}



