header {
  display: flex;
  border-bottom: 3px solid #4f6aec;
  padding: 15px 15px 0px 0px;

}

.top-logo{
  display: flex;
  flex-grow: 1;
        .tlogo-wrap {
            display: flex;
            img {
            width: 20%;
               }
            }
}

.top-logo  h1 {
  flex-grow: 1;
  color: #4f6aec;
  font-size: 2.5rem;
  margin: 0;
  align-self: center;
  font-family: 'Poppins', sans-serif;
}

.menu-wrapper ul{
  display: flex;
}

.menu-wrapper{
  align-self: center;
  margin-right: 10px;

  ul{
    margin-bottom: 0;
  }
}


ul li{
  list-style: none;
  margin: 0;
}

.menu-main li a{
  text-decoration: none;
  padding: 15px;
  font-size: 1.1rem;
  color:#4f6aec;
  /* padding-bottom: 0; */
  transition: all .5s ease-in;
}

.menu-main li a:hover{
  background-color: #4f6aec;
  color: white;
  //font-size: 1.2rem;
}





