header {
  display: flex;
  border-bottom: 3px solid #4f6aec;
}

header h1 {
  flex-grow: 1;
  color: #4f6aec;
  font-size: 4rem;
  margin: 8px;
}

header h1 {
  font-family: "Poppins", sans-serif;
}

.menu-wrapper ul {
  display: flex;
}

.menu-wrapper {
  align-self: center;
  margin-right: 10px;
}

ul li {
  list-style: none;
}

.menu-main li a {
  text-decoration: none;
  padding: 6px;
  font-size: 1.1rem;
  color: #4f6aec;
  /* padding-bottom: 0; */
  transition: all 0.5s ease-in;
}

.menu-main li a:hover {
  background-color: #4f6aec;
  color: white;
  font-size: 1.2rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: block;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

ul li {
  margin: 0;
}

article {
  margin: 30px 45px;
}

#features-section {
  padding: 10px;
  background-color: #4f6aec;
}
#features-section .section-title {
  color: white;
  font-size: 2rem;
  margin: 10px;
}
#features-section .sub-section {
  display: flex;
}
#features-section .sub-section article {
  display: grid;
  padding: 35px 40px;
  border-radius: 20px;
  border: 4px solid white;
  background-color: white;
}
#features-section .sub-section article .icons {
  text-align: center;
}
#features-section .sub-section article .icons .icon-wrap {
  width: 60%;
  margin: auto;
}
#features-section .team-members {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#features-section .feature-img-member {
  border-radius: 50%;
  max-width: 140px;
}
#features-section .m {
  text-align: center;
}
#features-section .doctors {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}
#features-section .docimg {
  text-align: center;
}
#features-section .feature-bio-img {
  border-radius: 30%;
}

#top-section .section-title {
  color: #4f6aec;
  font-size: 2rem;
  margin-left: 10px;
}

#shop-section .section-title {
  margin: 10px;
  color: #4f6aec;
  font-size: 2rem;
}
#shop-section .sub-section {
  display: flex;
}
#shop-section .sub-section article {
  margin: 10px;
}

#video-section {
  padding: 10px;
}
#video-section .section-title {
  color: #4f6aec;
  font-size: 2rem;
}
#video-section .sub-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#doctors-section {
  background-color: #4f6aec;
  padding: 10px;
}
#doctors-section .section-title {
  color: white;
  font-size: 2rem;
}
#doctors-section .sub-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#doctors-section .sub-section article {
  padding: 15px;
  margin: 30px 40px;
  border: 1px solid white;
}
#doctors-section .sub-section article .text-doc {
  color: white;
  text-align: center;
  margin: 10px;
}

article .text-doc h4 {
  font-size: 1.5rem;
}

#team-section {
  background-color: #4f6aec;
  padding: 10px;
}
#team-section .section-title {
  color: white;
  font-size: 2rem;
}
#team-section .sub-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#team-section .sub-section article .text-team {
  color: white;
  text-align: center;
}

.team-wrapper {
  padding: 45px 45px 0px 45px;
}
.team-wrapper img {
  border-radius: 50%;
  border: 15px solid white;
}

.text-team p {
  font-size: 1.5rem;
}

footer {
  border-top: 4px solid #4f6aec;
  padding: 10px;
}
footer .footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.8rem;
  padding-top: 2rem;
  margin: auto;
}
footer .social-icons {
  align-self: center;
  margin: 10px;
}
footer .social-icons .menu-social-search {
  display: flex;
  justify-content: center;
}

.Map h1 {
  color: #4f6aec;
  font-size: 2.2rem;
}

.menu-social-search {
  display: flex;
}

.menu-social-search li {
  align-self: center;
}

.menu-social-search li a {
  background-color: white;
  color: #4f6aec;
  padding: 6px;
  font-size: 1.5rem;
  transition: all 0.5s ease-out;
}

.menu-social-search li a:hover {
  text-decoration: none;
  font-size: 2.5rem;
}

.f-copy {
  text-align: center;
  color: #4f6aec;
  font-size: 1.2rem;
}

#contact {
  align-self: center;
}
#contact .contact-header {
  font-size: 2rem;
  color: #4f6aec;
}

.header-hour {
  font-size: 2rem;
  color: #4f6aec;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}

/*# sourceMappingURL=style.css.map */
