
footer{
  border-top: 4px solid #4f6aec;
  padding: 30px;

  .footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.8rem;
    padding-top: 2rem;
    margin: auto;

    .ftitle{

      padding: 50px;
      text-align: center;
       h1{
         margin: 0;
         color: #4f6aec;
       }
      .logo-wrap{
        padding: 50px 50px 0px 50px;

          img{
            width: 50%;
          }
      }

    }
  }

  .social-icons{
    align-self: center;
    margin: 10px;

    .menu-social-search{
      display: flex;
      justify-content: center;
    }
  }

}

.social-icons{
   padding: 30px 30px 0px 30px;
}

.Map h1{
  color: #4f6aec;
  font-size: 2.2rem;
}


.menu-social-search{
  display: flex;
}

.menu-social-search li{
  align-self: center;
}



.menu-social-search li a{
  background-color: white;
  color: #4f6aec;
  padding: 12px;
  font-size: 1.5rem;
  transition: all .5s ease-out;
}

.menu-social-search li a:hover{
  text-decoration: none;
  font-size: 2.5rem;
  //color: white;
  //background-color: #4f6aec;

}

.f-copy{
  text-align: center;
  color: #4f6aec;
  font-size: 1.2rem;
}

//CONTACT GRID
#contact{
  align-self: center;

  .contact-header{
    font-size: 2rem;
    color: #4f6aec;
  }

}

.header-hour{
  font-size: 2rem;
  color: #4f6aec;
}


.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

