footer{
  display: flex;
  justify-content: space-between;
}

.footer{
  margin: 10px;
}

.menu-social-search{
  display: flex;
}

.menu-social-search li{
  align-self: center;
}

.menu-social-search li a{
  text-decoration: none;
}

