#doctors-section{
  background-color:#4f6aec;
  padding: 10px;

  .section-title{
    color: white;
    font-size: 2rem;

  }

  .sub-section{
    display: grid;
    grid-template-columns: 1fr 1fr;

    article{
      padding: 15px;
      margin: 30px 40px;
      border: 1px solid white;

      .text-doc{
        color: white;
        text-align: center;
        margin: 10px;
      }
    }
  }

}

.doc-wrapper{
  padding: 30px;
}


article .text-doc h4{
  font-size: 1.5rem;
}