#doctors-section{
  background-color:#4f6aec;
  margin: 10px;

  .section-title{
    color: white;
    font-size: 2rem;
    margin: 8px;
  }

  .sub-section{
    display: grid;
    grid-template-columns: 1fr 1fr;

    article .text-doc{
      color: white;
      text-align: center;
      margin: 10px;
    }
  }

}

article .text-doc h4{
  font-size: 1.5rem;
}