#features-section{

  padding: 10px;
  background-color: #4f6aec;

  .section-title{
    color: white;
    font-size: 2rem;
    margin: 10px;
  }

  .sub-section{
    display: flex;

    article{
      display: grid;
      padding: 35px 40px;
      border-radius: 20px;
      border: 4px solid white;
      //grid-template-rows: 1fr 40px auto;
      background-color: white;

      .icons{
        text-align: center;

        .icon-wrap{
          //margin-top: 20px;
          width: 40%;
          margin: auto;
        }
      }

    }


  }


  .team-members{
    display: grid;
    grid-template-columns: repeat(3,1fr);

  }

  .feature-img-member{
    border-radius: 50%;
    max-width: 140px;
  }

  .m{
    text-align: center;
  }


  .doctors{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }

  .docimg{
    text-align: center;
  }

  .feature-bio-img{
    border-radius: 30%;
  }


}