#team-section{
  background-color: #4f6aec;
  margin: 10px;

  .site-title{
    color: white;
    font-size: 2rem;
  }
  .sub-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
}

.text-team{
  color: white;
}

.text-team p{
  font-size: 1.5rem;
}