#team-section{
  background-color: #4f6aec;
  margin: 10px;

  .section-title{
    color: white;
    font-size: 2rem;
  }

  .sub-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);

    article{
      .text-team{
        color: white;
        text-align: center;
      }
    }
  }
}



.text-team p{
  font-size: 1.5rem;
}