#shop-section{
    padding: 10px;

  .section-title{
    margin: 10px;
    color: #4f6aec;
    font-size: 2rem;
  }

  .sub-section{
    display: flex;
    padding: 30px;

    article{
      display: inline-block;
      margin: 0 11px 0 0;
      box-sizing: border-box;
      border: 1px solid #dadce0;
      border-radius: 8px;
      box-shadow: none;
      line-height: 15px;
      overflow: hidden;
      vertical-align: top;
      height: 100%;

        .shop-wrap{
          padding: 20px;

          img{
            border-radius: 2%;
          }
        }


      .text-brand{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 20px;
      }
    }
  }
}

.model-no p{
  margin: 0;
}


  .pbtn{
    text-align: end;

    .btn-shop {
      color: black;
      padding: 5px;
      background-color: transparent;
      width: 40%;
      border-radius: 28px;
      border: 2px solid #4f6aec;
    }

  }

  .pbtn .btn-shop:hover{
    background-color: #4f6aec;
    color: white;
  }

.shop-wrap img:hover{
    //transition: transform 400ms ease-in-out;

  transform: scale(1.1);
  transition: transform 0.5s cubic-bezier(0.55, 0.06,  0.68, 0.19);
  }