#video-section{
  padding: 10px;

  .section-title{
    color: #4f6aec;
    font-size: 2rem;
  }

  .sub-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }


}

.sub-section article:nth-of-type(2){
  display: grid;
  grid-template-rows: 1fr ;
}

article .dwn-wrap{
     display: flex;
  justify-content: center;
  padding-bottom: 40px;

   img{
     max-width: 35%;
   }
}